#content{
    width: 800px;
    margin: 0 auto;
}
h1{text-align: center; color: blue; margin: 50px 0 20px 0;}
table{
    border-collapse: collapse;
    margin:  0 auto;
    /*선 없음*/
}
td{
    border: 1px solid #ccc;
    padding: 10px;
}