/*전체 영역*/
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
*{margin: 0; padding: 0;}
#container{
    width: 1100px; margin: 0 auto;
}

/* header 영역*/
header{height: 80px; background-color: rgb(1,90, 53);}
header #logo{width: 250px; float: left; padding: 15px 25px;}
header #logo h1{font-family: Merienda;}
header #logo a{text-decoration: none; color: yellow;}
header nav{width: 750px; float: right;}
    header #topMenu{list-style: none; text-align: right; margin-right: 40px;}
    header #topMenu li{display: inline-block; margin: 15px; padding: 15px;}
    header #topMenu li a{text-decoration: none; color: white;}
    header #topMenu li a :hover{color: #2fb2fd;}

    /*index 스타일*/
    #intro {height: 1000px;}
    #intro #heading h1{
        height: 120px;
        background: #eee;
        text-align: center;
        font-size: 2.5em;
        line-height: 100px; /* 줄 맞출 때*/
        padding: 20px;
    }
    #intro #img_show{
        height: 600px; margin-top:  50px; text-align: center;
    }
    #intro #img_show img{border-radius:  10px;}

    /*incheon 영역*/
    #contents{width: 900px; margin: 30px auto;}
    #contents section{margin: 30px auto;}
    #contents section div{margin: 20px auto;}
    #contents section p{line-height: 1.7em;}
    #contents section p strong{line-height: 3em; font-size: 1.1em;}
    #contents #healing{height:300px;}
    #contents #healing img{float: left; margin-right: 15px; border-radius: 10px;}
    #contents .schdule ul li{margin: 10px 30px; list-style: none;}
    #contents #activity{height: 300px;}
    #contents #activity img{float:left; margin-right: 15px; border-radius: 10px;;}
    #contents #sightseeing ul li{margin: 10px 30px; list-style: square;}
    #contents #sightseeing a{text-decoration: none; color: black;}
    #contents #sightseeing a:hover{text-decoration: underline;}
    

    /*product 스타일*/
    #product{width: 1000px; margin: 10px auto;}
    #product h2{margin: 15px 0;}
    #product p{line-height: 2em;}
    #product section{margin:10px auto; border: 1px dotted #ccc; padding: 20px 50px;}
    #product #description{border-top-left-radius: 30px; border-top-right-radius: 30px;}
    #product #receipe ol{padding-left: 20px; margin-top: 10px;}
    #product #receipe ol li{line-height: 2em;}
    #product #package{border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;}
    #product table, th, td{border: 1px solid #ccc; border-collapse: collapse; padding: 10px 20px;}

    /*about_me 스타일*/
    #profile{width: 1000px; margin: 30px auto; }
#profile section{margin: 20px 10px;}
#profile section h2{margin: 20px; color: blue;}
#profile section div{margin: 30px 10px;}
#profile #intro{height: 350px;}
#profile #intro h1{font-size: 2em;}
#profile #intro p{line-height: 1.8em;}
#profile #intro img{float: left; margin-right: 30px; border-radius: 5px;}
#profile #intro a{text-decoration: none; color: #00f;}
#profile #intro a:hover{text-decoration: underline;}
#profile #career ul li{margin: 16px 50px;}
#profile #education ul li{margin: 16px 50px;}
#profile #skill ul li{margin: 16px 50px;}
#profile #skill ul li a{text-decoration: none; color: #00f;}
#profile #skill ul li a:hover{text-decoration: underline; }

    


    /*footer*/
    footer{height:100px; margin-top: 50px auto; border-top: 2px solid #222;}
    footer #bottomMenu{list-style: none; margin: 10px 10px 10px 50px;}
    footer #bottomMenu li{display: inline-block; margin: 10px 0; 
                          border-right: 1px solid #ccc; padding: 0 10px;}
    footer #bottomMenu li:list-child{border:none;}
    footer #bottomMenu li a{text-decoration: none; color: #444;}
